.nav{
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: purple;
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: 600;
}


.searchResults{
    .cells{
        vertical-align: middle;
    }
}
